@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&family=Hind:wght@300;400;500;600;700&family=Homemade+Apple&family=Playwrite+DE+VA+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=League+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#timebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    height: 100vh;
}

#todaytime {
    display: flex;
    gap: 4px;
    float: left;
    align-items: center;
    justify-content: space-between;
    font-family: 'Orbitron', sans-serif;
    margin: 1rem;
    width: 100%;
    padding: 4rem;
    border-radius: 8px;
    height: 100vh;
}

#ampm {
    position: absolute;
    font-size: 4vw;
    padding: 4px;
    color: rgba(255, 255, 255, 0.485);
    margin-left: 1rem;
    bottom: 2vw;
    margin-bottom: 1.2rem;
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: 0 4px #888;
    border: 1px solid #888;
}

#footer {
    color: #8d8b8bd1;
    display: flex;
    float: left;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    margin-bottom: 2px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    padding: 4px;
    border-top: 1px solid #8888883b;
    font-size: .8rem;
}

#footer a {
    text-decoration: none;
    color: #8d8b8bd1;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 2px;
}

#weather_updates {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 200px;
    position: absolute;
    left: 6rem;
    padding: .8vw;
    top: 3vw;
    z-index: 1111;
    overflow: hidden;
    color: #fff;
    gap: 2px;
    font-family: "Sacramento", cursive;
    border-radius: 12px;
    box-shadow: 0 4px #888;
    border: 1px solid #888;
    
}

#weather_updates img {
    height: 60px;
    margin-right: 1rem;
    padding: 8px;
}

#weather_updates .card {
    background-color: transparent;
    padding: 8px;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    line-height: 1;
}

#quote {
    width: 100%;
    padding: 4px;
    text-align: right;
}

@media (max-width: 767px) {
  #displayalert {
    display: block;
    max-width: 300px;
  }
}


